@import '../variables.scss';

.nav {
    font-size: 2rem;
    background-color: $nav-bg-color;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__button {
        line-height: 0;
        color: $nav-button-color;
        cursor: pointer;
    }
}