@import 'variables';

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: $white-color;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__header {
    flex: 0;
  }

  &__main {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}